body {
	text-align:center;
	background-color:purple;
	color: yellow;
}


ul { display: inline-block; text-align:left; }

.annoyingimage {
	margin-top: 75px;
	max-width:30%;
	height:auto;
	transform:rotate(90deg);
}